<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_forplant_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Forplant_front"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".camera_result"
            android:exported="false" />
        <activity
            android:name=".camera_preview"
            android:exported="false" />
        <activity
            android:name=".camera_page"
            android:exported="false" />
        <activity
            android:name=".findtest_result"
            android:exported="false" />
        <activity
            android:name=".findtest_wait"
            android:exported="false" />
        <activity
            android:name=".findtest_choice2"
            android:exported="false" />
        <activity
            android:name=".findtest_choice1"
            android:exported="false" />
        <activity
            android:name=".findtest_home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AgreeFirstActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Agree1Activity"
            android:exported="false" />
        <activity
            android:name=".Agree2Activity"
            android:exported="false" />
        <activity
            android:name=".Agree3Activity"
            android:exported="false" />
        <activity
            android:name=".ProfilenewActivity"
            android:exported="false" />
        <activity
            android:name=".IdfoundActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordfoundActivity"
            android:exported="false" />
        <activity
            android:name=".SplashwelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilemodifyActivity"
            android:exported="false" />
        <activity
            android:name=".MypagePlantActivity"
            android:exported="false" />
        <activity
            android:name=".MypageRipActivity"
            android:exported="false" />
        <activity
            android:name=".PlantRecordLIstRipActivity"
            android:exported="false" />
        <activity
            android:name=".RipLIstOnedayActivity"
            android:exported="false" />
        <activity
            android:name=".RipBottomSheet"
            android:exported="false" />
        <activity
            android:name=".MypageSeccsionActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>